ruff
numpy
pandas
python-box
tqdm

scikit-learn
networkx

altair
altair_saver

scipy
statsmodels
pingouin

torch
torchvision
torchtext
transformers

langchain
langchain-openai
langchain-google-genai
langchain-ollama
